{% from 'axia/macros.html' import icon %}

<form method="{{ method or 'POST' }}" action="{{ url_for('search') }}" id="search_form" role="search">
    {% if rtl %}
    <div class="input-group">
    {% else %}
    <div class="input-group col-md-8 col-md-offset-2">
    {% endif %}
        <span class="glyphicon glyphicon-search" id="btnSrc"></span>
        <input type="search"  autofocus name="q" class="form-control input-lg autofocus" id="q" placeholder="{{ _('Search for...') }}" aria-label="{{ _('Search for...') }}" autocomplete="off" value="{{ q }}" accesskey="s">
        <span class="glyphicon glyphicon-remove" id="btnSrcClean"></span>
    </div>
    <div class="col-md-8 col-md-offset-2 search-btn-block">
        <button type="submit" class="btn btn-default search-btn" aria-label="{{ _('Start search') }}">
            {{ _('Start search') }}
        </button>
    </div>

</form><!-- / #search_form_full -->
