{% from 'axia/macros.html' import icon %}
<form method="{{ method or 'POST' }}" action="{{ url_for('search') }}" id="search_form_result" role="search">
    <div class="row resultSearch1">
        <div class="col-xs-2 col-md-1">
            <a href="/"><img src="/static/img/logo2.svg" title="AXIA Search" /></a>
        </div>
        <div class="col-xs-7 col-md-5">
            <div class="search-block">
                <input id="search_input" type="search" autofocus name="q" placeholder="{{ _('Search for...') }}" aria-label="{{ _('Search for...') }}" autocomplete="off" value="{{ q }}" accesskey="s">
                <span class="glyphicon glyphicon-remove" id="btn-clean-search"></span>
                <button type="submit" class="btn btn-default searchBtnX" aria-label="{{ _('Start search') }}">
                    <span class="hide_if_nojs">{{ icon('search') }}</span>
                    <span class="hidden active_if_nojs">{{ _('Start search') }}</span>
                </button>
            </div>
        </div>
        <div class="col-xs-3 col-md-2">
            {%- include 'axia/time-range.html' -%}
        </div>
        <div class="col-xs-3 col-md-2">
            {%- include 'axia/languages.html' -%}
        </div>
    </div>
    <div class="header-categories">
        <div class="container">
            <div class="row resultSearch2">
                <div class="col-sm-12">
                    {%- include 'axia/categories.html' -%}
                </div>
            </div>
        </div>
    </div>
</form><!-- / #search_form_full -->
