.searx-navbar {
    background: #29314d;
    height: 2.3rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: .5rem;
    font-weight: 700;
    margin-bottom: .8rem
}

    .searx-navbar a, .searx-navbar a:hover {
        margin-right: 2rem;
        color: #fff;
        text-decoration: none
    }

    .searx-navbar .instance a {
        color: #01d7d4;
        margin-left: 2rem
    }

#main-logo {
    margin-top: 20vh;
    margin-bottom: 25px
}

    #main-logo > img {
        max-width: 350px;
        width: 80%
    }

* {
    border-radius: 0 !important
}

html {
    position: relative;
    min-height: 100%;
    color: #29314d
}

body {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color: #fafafa
}

    body a {
        color: #08c
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #999;
    background:rgba(0, 0, 0, 0.5);
    position:fixed;
    bottom:0;
    border-top:1px solid #000;
    line-height:10px;

}

input[type=checkbox]:checked + .label_hide_if_checked, input[type=checkbox]:checked + .label_hide_if_not_checked + .label_hide_if_checked {
    display: none
}

input[type=checkbox]:not(:checked) + .label_hide_if_not_checked, input[type=checkbox]:not(:checked) + .label_hide_if_checked + .label_hide_if_not_checked {
    display: none
}

.onoff-checkbox {
    width: 15%
}

.onoffswitch {
    position: relative;
    width: 110px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.onoffswitch-checkbox {
    opacity: 0;
    position: absolute
}

    .onoffswitch-checkbox:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0
    }

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFF !important;
    border-radius: 50px !important
}

.onoffswitch-inner {
    display: block;
    transition: margin .3s ease-in 0s
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 40px;
        font-size: 20px;
        box-sizing: border-box;
        content: "";
        background-color: #EEE
    }

.onoffswitch-switch {
    display: block;
    width: 37px;
    background-color: #01d7d4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #FFF;
    border-radius: 50px !important;
    transition: all .3s ease-in 0s
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-right: 0
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 71px;
    background-color: #A1A1A1
}

.onoffswitch-checkbox:focus + .onoffswitch-label .onoffswitch-switch {
    border: 3px solid #444
}

.result_header {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15pt;
    padding-bottom:5px;
}

    .result_header .favicon {
        margin-bottom: -3px
    }

    .result_header a {
        color: #08c;
        text-decoration: none
    }

        .result_header a:hover {
            color: navy;
        }

        .result_header a:visited {
            color: #0f5394
        }

        .result_header a .highlight {
          /*  background-color: #f6f9fa*/
        }

.result-content, .result-format, .result-source {
    margin-top: 2px;
    margin-bottom: 0;
    word-wrap: break-word;
    color: #333;
    font-size: 13px
}

    .result-content .highlight, .result-format .highlight, .result-source .highlight {
        font-weight: 700
    }

.result-source {
    font-size: 10px;
    float: left
}

.result-format {
    font-size: 10px;
    float: right
}

.external-link {
    color: #aaa;
    font-size: 8pt;
    font-style:italic;

}

    .external-link a {
        margin-right: 3px
    }

.result-default, .result-code, .result-torrent, .result-videos, .result-map {
    clear: both;
    padding: .5em 4px;


}

    .result-default:hover, .result-code:hover, .result-torrent:hover, .result-videos:hover, .result-map:hover {
        /*background-color: #f6f9fa*/
    }

.result-images {
    float: left !important;
    width: 24%;
    margin: .5%
}

    .result-images a {
        display: block;
        width: 100%;
        background-size: cover
    }

.img-thumbnail {
    margin: 5px;
    max-height: 128px;
    min-height: 128px
}

.result-videos {
    clear: both
}

    .result-videos hr {
        margin: 5px 0 15px 0
    }

    .result-videos .collapse {
        width: 100%
    }

    .result-videos .in {
        margin-bottom: 8px
    }

.result-torrent {
    clear: both
}

    .result-torrent b {
        margin-right: 5px;
        margin-left: 5px
    }

    .result-torrent .seeders {
        color: #2ecc71
    }

    .result-torrent .leechers {
        color: #f35e77
    }

.result-map {
    clear: both
}

.result-code {
    clear: both
}

    .result-code .code-fork, .result-code .code-fork a {
        color: #666
    }

.suggestion_item {
    margin: 2px 5px;
    max-width: 100%
}

    .suggestion_item .btn {
        max-width: 100%;
        white-space: normal;
        word-wrap: break-word;
        text-align: left
    }

.result_download {
    margin-right: 5px
}

#pagination {
    margin-top: 30px;
    padding-bottom: 60px
}

.label-default {
    color: #bbb;
    font-weight:normal;
    font-size:8px;
    background: 0 0
}

.result .text-muted small {
    word-wrap: break-word
}

.modal-wrapper {
    box-shadow: 0 5px 15px rgba(0,0,0,.5)
}

.modal-wrapper {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: 0 none;
    position: relative
}

@media screen and (max-width:75em) {
    .img-thumbnail {
        object-fit: cover
    }
}
.infobox {
    border:1px solid #999;
    box-shadow: 4px 4px 1px #666;
}
 .panel-heading {
    background-color: #ffffff !important;
    border: none !important;
}

.panel-title {
    font-size: 23px;
    font-weight: 600;
}

.infobox .panel-heading .panel-title {
    font-weight: 700
}

.infobox .header_url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}

.infobox p {
    margin: 0;
}

.infobox img {
    max-height: "250px"
}

.infobox .btn {
    background-color: #007ab8;
    border: none
}

    .infobox .btn a {
        color: #fff;
        margin: 5px
    }

.infobox .infobox_part {
    padding: 10px 5px;
    word-wrap: break-word;
    table-layout: fixed
}

    .infobox .infobox_part:last-child {
        margin-bottom: 0
    }

.infobox .infobox_toggle {
    width: 100%;
    text-align: center;
    margin-bottom: 0
}

.infobox .infobox_checkbox ~ .infobox_body {
    max-height: 300px;
    overflow: hidden
}

.infobox .infobox_checkbox:checked ~ .infobox_body {
    max-height: none
}

.infobox .infobox_checkbox ~ .infobox_toggle .infobox_label_down {
    display: block
}

.infobox .infobox_checkbox ~ .infobox_toggle .infobox_label_up {
    display: none
}

.infobox .infobox_checkbox:checked ~ .infobox_toggle .infobox_label_up {
    display: block
}

.infobox .infobox_checkbox:checked ~ .infobox_toggle .infobox_label_down {
    display: none
}

.infobox .infobox_checkbox ~ .infobox_body img.infobox_part {
    display: none
}

.infobox .infobox_checkbox:checked ~ .infobox_body img.infobox_part {
    display: block
}

.search_categories, #categories {
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: stretch;
    border-radius:10px !important;
}

    .search_categories label, #categories label, .search_categories .input-group-addon, #categories .input-group-addon {
        flex-grow: 1;
        flex-basis: auto;
        font-size: 1.2rem;
        font-weight: 400;
        border: none;
        color: #7cb3e3;
        padding-bottom: .4rem;
        padding-top: .4rem;
        text-align: center;
        min-width: 50px;
        margin: 0;
    }



        .search_categories label:last-child, #categories label:last-child, .search_categories .input-group-addon:last-child, #categories .input-group-addon:last-child {
           /* border-right: #ddd 1px solid*/
        }

    .search_categories input[type=checkbox]:checked + label, #categories input[type=checkbox]:checked + label {
        font-weight: 700;
        color: white;
        border-top: 2px solid white;
    }

#main-logo {
    margin-top: 10vh;
    margin-bottom: 25px
}

    #main-logo > img {
        max-width: 350px;
        width: 80%
    }

#q {
    box-shadow: none;
}

#search_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search_form .input-group-btn .btn {
    border-color: #888
}

#search_form .input-group-btn .btn:hover {
    background-color: #068922;
    color: #fff
}

#search_form_result {
    background: linear-gradient(#009dfa, #0077c7);;
    color: #fff;
}

.custom-select, .custom-select-rtl {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #fff;
    border: #888 1px solid;
    color: #666;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAABFkAAARZAVnbJUkAAAAHdElNRQfgBxgLDwB20OFsAAAAbElEQVQY073OsQ3CMAAEwJMYwJGnsAehpoXJItltBkmcdZBYgIIiQoLglnz3ui+eP+bk5uneteTMZJa6OJuIqvYzSJoqwqBq8gdmTTW86/dghxAUq4xsVYT9laBYXCw93Aajh7GPEF23t4fkBYevGFTANkPRAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE2LTA3LTI0VDExOjU1OjU4KzAyOjAwRFqFOQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNi0wNy0yNFQxMToxNTowMCswMjowMP7RDgQAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC) 96% no-repeat
}

.custom-select-rtl {
    background-position-x: 4%
}

.search-margin {
    margin-bottom: .6em
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    white-space: nowrap
}

.label-danger, .btn-danger {
    background: #c9432f
}

.label-success, .btn-success {
    background: #068922
}

select.form-control {
    border-color: #5f82a4 !important;
    border-radius: 10px !important;

}

.twitter-typeahead pre:before {
    content: "test";
    position: relative;
    display: inline-block;
}
.tt-hint{
    color:#BE74D5;
    background:none !important;
}
#advanced-search-container {
    display: none;
    text-align: left;
    margin-bottom: 1rem;
    clear: both
}

    #advanced-search-container label, #advanced-search-container .input-group-addon {
        font-size: 1.2rem;
        font-weight: 400;

        border-right: #eee 1px solid;

        color: #024c92;
        padding-bottom: .4rem;
        padding-right: .7rem;
        padding-left: .7rem
    }

        #advanced-search-container label:last-child, #advanced-search-container .input-group-addon:last-child {
            border-right: none;
        }

    #advanced-search-container input[type=radio] {
        display: none
    }

        #advanced-search-container input[type=radio]:checked + label {
            color: #fff;
            font-weight: 700;
            background: #0e5294
        }

#check-advanced:focus + label {
    text-decoration: underline
}

#check-advanced:checked ~ #advanced-search-container {
    display: block
}

.advanced {
    padding: 0;
    margin-top: .3rem;
    text-align: right;

}
    .advanced label {
        color: #fff !important;
    }
    .advanced label, .advanced select {
        cursor: pointer;

    }

.cursor-text {
    cursor: text !important
}

.cursor-pointer {
    cursor: pointer !important
}

pre, code {
    font-family: 'Ubuntu Mono','Courier New','Lucida Console',monospace !important
}

.lineno {
    margin-right: 5px
}

.highlight .hll {
    background-color: #ffc
}

.highlight {
    background: #f8f8f8
}

    .highlight .c {
        color: #556366;
        font-style: italic
    }

    .highlight .err {
        border: 1px solid #ffa92f
    }

    .highlight .k {
        color: #BE74D5;
        font-weight: 700
    }

    .highlight .o {
        color: #d19a66
    }

    .highlight .cm {
        color: #556366;
        font-style: italic
    }

    .highlight .cp {
        color: #bc7a00
    }

    .highlight .c1 {
        color: #556366;
        font-style: italic
    }

    .highlight .cs {
        color: #556366;
        font-style: italic
    }

    .highlight .gd {
        color: #a00000
    }

    .highlight .ge {
        font-style: italic
    }

    .highlight .gr {
        color: red
    }

    .highlight .gh {
        color: navy;
        font-weight: 700
    }

    .highlight .gi {
        color: #00a000
    }

    .highlight .go {
        color: #888
    }

    .highlight .gp {
        color: navy;
        font-weight: 700
    }

    .highlight .gs {
        font-weight: 700
    }

    .highlight .gu {
        color: purple;
        font-weight: 700
    }

    .highlight .gt {
        color: #04d
    }

    .highlight .kc {
        color: #BE74D5;
        font-weight: 700
    }

    .highlight .kd {
        color: #BE74D5;
        font-weight: 700
    }

    .highlight .kn {
        color: #BE74D5;
        font-weight: 700
    }

    .highlight .kp {
        color: #be74d5
    }

    .highlight .kr {
        color: #BE74D5;
        font-weight: 700
    }

    .highlight .kt {
        color: #d46c72
    }

    .highlight .m {
        color: #d19a66
    }

    .highlight .s {
        color: #86c372
    }

    .highlight .na {
        color: #7d9029
    }

    .highlight .nb {
        color: #be74d5
    }

    .highlight .nc {
        color: #61AFEF;
        font-weight: 700
    }

    .highlight .no {
        color: #d19a66
    }

    .highlight .nd {
        color: #a2f
    }

    .highlight .ni {
        color: #999;
        font-weight: 700
    }

    .highlight .ne {
        color: #D2413A;
        font-weight: 700
    }

    .highlight .nf {
        color: #61afef
    }

    .highlight .nl {
        color: #a0a000
    }

    .highlight .nn {
        color: #61AFEF;
        font-weight: 700
    }

    .highlight .nt {
        color: #BE74D5;
        font-weight: 700
    }

    .highlight .nv {
        color: #dfc06f
    }

    .highlight .ow {
        color: #A2F;
        font-weight: 700
    }

    .highlight .w {
        color: #d7dae0
    }

    .highlight .mf {
        color: #d19a66
    }

    .highlight .mh {
        color: #d19a66
    }

    .highlight .mi {
        color: #d19a66
    }

    .highlight .mo {
        color: #d19a66
    }

    .highlight .sb {
        color: #86c372
    }

    .highlight .sc {
        color: #86c372
    }

    .highlight .sd {
        color: #86C372;
        font-style: italic
    }

    .highlight .s2 {
        color: #86c372
    }

    .highlight .se {
        color: #B62;
        font-weight: 700
    }

    .highlight .sh {
        color: #86c372
    }

    .highlight .si {
        color: #B68;
        font-weight: 700
    }

    .highlight .sx {
        color: #be74d5
    }

    .highlight .sr {
        color: #b68
    }

    .highlight .s1 {
        color: #86c372
    }

    .highlight .ss {
        color: #dfc06f
    }

    .highlight .bp {
        color: #be74d5
    }

    .highlight .vc {
        color: #dfc06f
    }

    .highlight .vg {
        color: #dfc06f
    }

    .highlight .vi {
        color: #dfc06f
    }

    .highlight .il {
        color: #d19a66
    }

    .highlight .lineno {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        color: #556366
    }

        .highlight .lineno::selection {
            background: 0 0
        }

        .highlight .lineno::-moz-selection {
            background: 0 0
        }

    .highlight pre {
        background-color: #282C34;
        color: #D7DAE0;
        border: none;
        margin-bottom: 25px;
        font-size: 15px;
        padding: 20px 10px
    }

.highlight {
    font-weight: 700
}

.table > tbody > tr > td, .table > tbody > tr > th {
    vertical-align: middle !important
}

.nav-tabs.nav-justified {
    margin-bottom: 20px
}

p {
    margin: 10px 0
}

input.cursor-text {
    margin: 10px 0
}
#logoX {
    max-width: 520px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#AxiaLogo {
    text-align: center;
    max-width: 520px;
}

@keyframes H-Axia {
    0% {
        stroke-width: 0px;
    }

    5% {
        stroke-width: 0px;
    }

    10% {
        stroke-width: 50px;
    }

    100% {
        stroke-width: 10px;
    }
}

#Logo1 {
    stroke-width: 0;
    animation: H-Axia 90s ease forwards;
}
.xS1{
   stop-color:#fff;

}
.xS2 {
    stop-color: #d4dbe2;
}
.xS2 {
    stop-color: #fff;
}
/*    #Logo1 {

    }
    #Logo2 {
        fill: #1362ae;
    }
    #Logo3 {
        fill: #1362ae;
    }*/
#q {
    outline: none;
    border-radius: 50px !important;
    padding: 10px 30px 10px 60px;
    background: white !important;
}

#btnSrc, #btnSrc2 {
    position: absolute;
    z-index: 4;
    border: none;
    left: 18px;
    font-size: 20px;
    color: rgba(19, 98, 174, 0.33);
    margin-top: 12px;
}

#btnSrc2 {
    margin-top:5px;
}

#btnSrcClean {
    cursor: pointer;
    position: absolute;
    z-index: 4;
    border: none;
    font-size: 20px;
    color: rgba(19, 98, 174, 0.33);
    margin-top: 12px;
    right: 18px;
}

#btnSrc button {

}

.advanced label {
    font-weight:400;
    font-size: 8.5pt;
    padding-right:15px;
    color:#0f5394;
}
.advanced label span {
    padding-right: 3px;
}
.xIcon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    padding-right:4px;
}
.xIcon-general:before {
    content: "\e003";
}

.xIcon-files:before {
    content: "\e118";
}

.xIcon-images:before {
    content: "\e060";
}
.xIcon-it:before {
    content: "\2601";
}
.xIcon-map:before {
    content: "\e062";
}
.xIcon-music:before {
    content: "\e002";
}
.xIcon-news:before {
    content: "\e162";
}
.xIcon-science:before {
    content: "\e138";
}
.xIcon-social:before {
    content: "\e008";
}
.xIcon-videos:before {
    content: "\e059";
}


.typeahead,
.tt-query,
.tt-hint {

    padding-left:59px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    color:#bac9d7
}

.typeahead {
    background-color: #fff;
}

    .typeahead:focus {
        border: 2px solid #0097cf;
    }

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #BE74D5
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;

}

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }

.gist {
    font-size: 14px;
}
.resultSearch1 {
    padding: 25px;
    align-items: center;
    display: flex;
    align-items: center;
}
.resultSearch2 {
    padding-bottom: 0px;
}
.searchBtnXPre{

}
.searchBtnX {
    border-radius: 50px !important;
    margin-left: 0 !important;
    border: none!important;
    color: white;
    background-color: #168fe0;
}
.searchBtnX:hover {

    color:#0f5394 !important
}

.well{
    background:rgba(255, 255, 255, 0.95);
    border:none !important;


}
.result {
    background:rgba(255, 255, 255, 0.95);
    border-radius: 10px !important;
    box-shadow: 0 7px 19px rgb(0 0 0 / 7%);
    margin-bottom: 25px;
    border: none;
}
.result-content {
    margin: 7px 0;
    font-size: 11pt;
    line-height:17pt;
}
.result-content .highlight {
    color:#333;
    background:#ff5;
    border-bottom:1px solid #feba00;
}
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}


canvas {
    z-index:1;
    position: fixed;
    top: 0;
    left: 0;
}

.custom-select {
background-color:rgba(255, 255, 255, 0.80);
color:#444 !important;

}

.result-content{
    font-size: 10pt;
    line-height:19pt;
}

    .result-content .badge {
    border-radius: 100px !important;
    background: #fff;
    color:#333;
    box-shadow:1px 1px 2px #aaa;
    border:1px solid #ddd;
}
.magnetlink, .torrentfile {
    margin-right: 10px;
    border-radius: 10px !important;
    border: 1px solid #aaa;
    background: #fff;
    padding: 3px 5px;
    color: #0a1e69;
    margin-bottom:10px;
}
    .magnetlink:hover, .torrentfile:hover {
        color: white;
        background-color:  #168fe1;
        border: 1px solid #556366;
        text-decoration: none;
    }
    
    .magnetlink span, .torrentfile span {
        padding-right: 5px;
    }

.result.images {
    text-align:center;

}
time{font-size:8pt;
     color:navy !important;

}
.result.news img {
    border: 1px solid #333;
    background: #fff;
    box-shadow: 2px 2px 4px #999;
    min-width: 100px !important;
    max-height: 100px !important;
    max-width: 100px !important;
    max-height: 100px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding: 1px !important
}
.xBody{
    position:absolute;
    z-index:2;
    width:100%;
    height:100%;
}
.tab-content{
    background:rgba(255, 255, 255, 0.94);
}

.index_endpoint{
    background: #fafafa !important;
}

.search-btn-block {
    padding-top: 20px;
}

.search-btn {
    padding: 10px 50px;
    background-color: #168fe0;
    color: #fcfefc;
    font-weight: 500;
    font-size: 16px;
    border: 0 solid white;
    border-radius: 5px !important;
}

#time-range {
    border: none;
    background-color: white;
}

#language {
    border: none;
    background-color: white;
}

.search-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px !important;
    padding: 5px 5px 5px 20px;
    align-items: center;
}

#search_input {
    background-color: white;
    border: none;
    flex: 1;
    color: black;
}

#search_input:focus {
    border: none;
    outline: none;
}

#btn-clean-search {
    padding: 0px 7px;
    cursor: pointer;
    z-index: 4;
    border: none;
    font-size: 20px;
    color: rgba(19, 98, 174, 0.33);
}

.header-categories {
    border-top: 0.1px solid rgba(255, 255, 255, 0.726);
    margin-bottom: 15px;
}

#categories label {
    padding: 15px 10px;
    font-size: 15px;
}

.result-main {
    padding: 10px 25px 0 20px !important;
}

.result-url {
    padding: 5px 5px 5px 20px !important;
}

hr {
    margin: 0;
}

.number-results {
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.resultSearch1.row {
    margin: 0;
}

.suggestion_item button {
    border: 2.5px solid #168fe1;
    border-radius: 5px !important;
    font-size: 17px;
    font-weight: 500;
}

.suggestion_item button:hover {
    background-color: #168fe1;
    color: white;
    border-color:  #168fe1;
}

.panel-body.infobox_body.result {
    padding-top: 0;
}

p.infobox_part {
    font-size: 18px;
    font-weight: 500;
}

tr > td:first-child {
    font-weight: 600;
}

.info-box-urls {
    background-color: #168fe1;
    color: white;
    border-radius: 5px !important;
    font-size: 15px;
    border-color:  #168fe1;
    margin: 3px !important;
}

.pagination-btn button {
    border-radius: 10px !important;
}

.pagination-btn button:hover, .img-link:hover {
    background-color: #168fe1;
    color: white;
}

.pagination-btn button:focus {
    outline: none !important;
}

.img-thumbnail {
    border: none;
}

.result-images {
    box-shadow: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-images a {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-img {
    border-radius: 15px !important;
}

.result-videos, .result-torrent, .result-code, .result-map, .result-products {
    padding: 30px;
}

#search-logo {
    width: 100%;
}